{{ template "layout" .}}

{{ define "main"}}
<h3>Halaman Utama</h3>
<hr>
<div class="row justify-content-center">
    <div class="col-lg-3 my-3">
        <img src="/static/img/ryan.jpg" class="img-fluid" alt="ryan">
    </div>
    <div class="col-lg-8 my-3">
        <div class="card">
            <div class=" card-body">
                <h5 class="card-title">Welcome to My Golang Final Project</h5>
                <hr>
                <p class="card-text">Perkenalkan nama saya <b>M. Ikra Yan Hidayat</b></p>
                <p class="card-text">Pada final project ini saya membuat website sederhana yang terdiri dari:</p>
                <ul>
                    <li>Navigation Bar dengan 3 menu: <b>Home, Product, Member</b></li>
                    <li>Form untuk menambah data Product dan data Member</li>
                </ul>
                <p class="card-text">Project ini tidak menggunakan database, hanya menunjukan bahwa fungsi <b>POST</b>
                    dan <b>GET</b>
                    berhasil dilakukan.</p>
                <p class="card-text">Sepertinya hanya itu saja, dan terima kasih kepada Instruktur saya Mas Irawan yang
                    sudah membimbing selama pelatihan ini.</p>
                <hr>
                <a href="https://github.com/ikrayan" target="_blank" class="btn btn-secondary">My github Repo</a>
            </div>
        </div>
    </div>
</div>
{{ end }}