{{ template "layout" .}}

{{ define "main"}}
<div class="d-flex justify-content-between">
    <h3>Member</h3>
    <a href="/formMember" class="btn btn-success">+ Member</a>
</div>
<hr>
<div class="row align-items-start">

    {{ range .}}
    <div class="col-md-3 p-5">
        <div class="card">
            <img src={{ .Photo }} class="card-img-top" alt="Photo Profile">
            <div class="card-body">
                <h5 class="card-title">{{ .Name }}</h5>
                <p class="card-text">{{ .Level }}</p>
                {{ if eq .Status "Active" }}
                <a href="#" class="btn btn-primary">{{ .Status }}</a>
                {{ else if eq .Status "Not Active"}}
                <a href="#" class="btn btn-danger">{{ .Status }}</a>
                {{ end }}
            </div>
        </div>
    </div>
    {{ end }}

</div>

{{ end }}